.form{
    max-width: 358px;
    margin: 0 auto 37px;
    font-family: 'Inter', Arial, sans-serif;
}
@media screen and (max-width: 767px) {
    .form{
        max-width: 238px;
        margin: 0 auto 25px;
    }
}