.popup-place__close{
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 1;
  cursor: pointer;
  transition: opacity linear .2s;
  line-height: 0;
}
.popup-place__close:hover{
  opacity: 0.6;
}
@media screen and (max-width: 767px) {
  .popup-place__close{
      right: 0;
      top: -36px;
      max-width: 20px;
  }
}
